@font-face {
  font-family: Emoji;
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}

:root {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 17px;
  font-family: Avenir, system-ui, -apple-system, "Segoe UI", Roboto, Emoji, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  background-color: #f5f5f5;
}

html.dark {
  color-scheme: dark;
  background-color: #212121;
}

html body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

@property --vt-radius {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

/* disable default animation for view transition */
::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

::view-transition-new(root) {
  z-index: 999;
  -webkit-mask-image: radial-gradient(circle at var(--vt-x, 0) var(--vt-y, 0), #000 max(0px, calc(var(--vt-radius) - var(--vt-blur, 200px))), transparent var(--vt-radius));
  mask-image: radial-gradient(circle at var(--vt-x, 0) var(--vt-y, 0), #000 max(0px, calc(var(--vt-radius) - var(--vt-blur, 200px))), transparent var(--vt-radius));
}

::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}
